# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Net.RestClient.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\Projects\NetCore\Net.RestClient\.idea\.idea.Net.RestClient\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
